<h2 class="text-2xl font-bold py-5">
    Datos
    <a routerLink="/film-details" 
        class="float-right text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
        New film
    </a>
</h2>
<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">
                    Film name
                </th>
                <th scope="col" class="py-3 px-6">
                    Short description
                </th>
                <th scope="col" class="py-3 px-6">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let film of filmsDisplayer.films; let index = index" [ngClass]="{'bg-white': index%2 === 0, 'bg-gray-50': index%2 !== 0}" class="border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   {{film.name}}
                </th>
                <td class="py-4 px-6">
                    {{film.description}}
                </td>
                <td class="py-4 px-6">
                    <section *ngIf="film.id">
                        <a routerLink="/film-details/{{film.id}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                        <button (click)="deleteFilm(film.id)" class="ml-2 font-medium text-red-600 dark:text-red-500 hover:underline">Delete</button>
                    </section>
                </td>
            </tr>
        </tbody>
    </table>
</div>
