<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">
                    Film name
                </th>
                <th scope="col" class="py-3 px-6">
                    Short description
                </th>
                <th scope="col" class="py-3 px-6">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of[4,2,3,4,5]; let index = index" [ngClass]="{'bg-white': index%2 === 0, 'bg-gray-50': index%2 !== 0}" class="border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   film
                </th>
                <td class="py-4 px-6">
                    description
                </td>
                <td class="py-4 px-6">
                    <a routerLink="/film-details/1" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
